[Unit]
# Description du service
Description=A web server.

# Démarre une fois que le réseau est prêt
After=network.target

[Service]



# Commande pour démarrer l'application
ExecStart=/home/admin/meteo-rpi/.venv/bin/python3.11 /home/admin/meteo-rpi/logger.py


# Redémarre l'application dans le cas où elle viendrait à quitter
Restart=always

[Install]
# Lance le service automatiquement à chaque démarrage de la machine
WantedBy=multi-user.target
